@import url("https://use.typekit.net/kmi3wbn.css");
@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,400i&display=swap');

:root {
   
    /* COLOURS */
    --background: #ffffff;

    --primary-text: #414141;
    --secondary-text: #707070;

    --hover-dark: rgba(92, 50, 50, 0.7);

    --main-dark:#0D096E;

    /* related article colours light */

    /* nav and accent? */
    --main-bright: #F5CB5C;

    --high-link: #F11E22;


    /* 
    1. CLASSICO (optima)
    2. FUTURA
    3. CRIMSON (charter)
    */

    --heading-sans: classico-urw, 'Optima', Helvetica, Arial, sans-serif;
    --bold-sans: futura-pt-bold, Helvetica, Arial sans-serif; 
    --body-sans: futura-pt, Helvetica, Arial, sans-serif; 

    --b-quote: 'Crimson Text', sans-serif;

}


/* Movie IDs
#im1
#im2
#im3
#avengers
#aou
#civilwar
#homecoming
#iw
#endgame  
#ffh
#cm
#blackpanth
#gotg
#xmen
#dofp
#thor1
#thor2
#thor3
*/


body {
    background-color: var(--background);
    font-family: var(--body-sans);
    color: var(--primary-text);
    padding-top: 60px;
}
p {
    /* font-family: var(--body-sans); */
    font-size: 1.5em;
}

h1, h2, h3, h4 {
    font-family: var(--heading-sans);
    font-weight: 800;

}

h1 {
    color:var(--primary-text);
}

h2 {
    font-size: 2.75em;
    padding-bottom: 0.2em;
}

h3 {
    font-size: 2.3em;
    /* padding: 0.5em 0; */
}

h4 {
    font-size: 1.75em;
}

h5 {
    color: var(--background);
}

em {
    font-weight: 700;
    font-size: 1.1em;
    font-style: italic;
}


/**************************************
HEADER
**************************************/
/*TOP BAR*/
.top-bar {
    background-color: var(--main-bright);
    position: fixed;
    z-index: 9998;
    width: 100%;
    top: 0;
    left: 0;
}
.top-bar-nav {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 4fr 30em 8em;
    width: 100%;
    max-width: 1300px;
    /* position: fixed;
    top: 0; */
}
.nav-title {
    font-size: 2.5em;
    font-weight: 800;
    color: var(--background);
    -webkit-text-stroke: 3px var(--primary-text);
    padding: 0.25em;
}
.top-menu {
    font-family: var(--bold-sans);
    color: var(--background);
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.top-menu li {
    font-size: 1.75em;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-menu li:hover {
    background-color: #D8A211;
}
.top-menu a {
    color: var(--primary-text);
    text-decoration: none;
}
.top-menu-icons {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}
.user-button {
    background-color: transparent;
    border: none;
    /* padding: 0 1em; */
}
.user-button span {
    color: var(--primary-text);
}
.material-icons {
    font-size: 2em;
}

/*Banner*/
.top-banner img{
    width: 100%;
}


/**************************************
FIXED ELEMENTS
**************************************/

/* Filter by movie */
.side-movies {
    /* position: fixed; */
    top: 100px; right: 57px;
    text-align: right;
}
.movies-table li {
    padding: .25em;
}
.movies-table a {
    color: var(--primary-text);
    font-family: var(--body-sans);


}
/* Scroll-spy */
.scrollspy {
    padding-top: 2em;
}


.scrollspy li {
    position: relative;
    padding: .3em;
    display: flex;
    justify-content: flex-end;
}
.scrollspy a {
    color: var(--primary-text);
    width: 2.5em;
    height: 2.5em;
    position: relative;
    z-index: 100;
    display: block;
    background-size: 2em;
    background-repeat: no-repeat;
    background-position: center center; 
}
.scrollspy-label {
    color: var(--primary-text);
    font-weight: 500;
    font-size: 1.2em;
    text-transform: uppercase;
    padding: .5em 1em;
    width: max-content;
    height: max-content;
    text-align: center;
    display: none;
    position: absolute;
    /* top: 3px; */
    right: 30px;
}

.scrollspy a:hover .scrollspy-label{
    display: block;
}


.current-character a {
    width: 3em;
    height: 3em;
    background-size: 3em;
}

.scroll-spiderman {
    background-image: url(../imgs/icon-spiderman.png);
}
.scroll-ironman {
    background-image: url(../imgs/icon-ironman.png);
}
.scroll-capmarv {
    background-image: url(../imgs/icon-captainmarvel.png);
}
.scroll-bp {
    background-image: url(../imgs/icon-blackpanther.png);
}
.scroll-thanos {
    background-image: url(../imgs/icon-thanos.png);
}
.scroll-magneto {
    background-image: url(../imgs/icon-magneto.png);
}
.scroll-km {
    background-image: url(../imgs/icon-killmonger.png);
}
.scroll-loki {
    background-image: url(../imgs/icon-loki.png);
}


/*Back to top*/
.back-to-top {
    display: grid;
    position: fixed;
    bottom: 50px; right: 40px;
    grid-gap: .5em;
}
.back-to-top li {
    text-align: center;
}
.material-icons.arrow {
    background-color: var(--background);
    padding: .2em;
    border: 1px solid var(--main-dark);
    border-radius: 50%;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);
}
.up-arrow a {
    color: var(--primary-text);
}
    

/**************************************
ARTICLE CONTENT
**************************************/

/*GENERAL*/
.main-container {
    max-width: 1300px;
    margin: 0 auto;
    /* position: relative; */
    /* display: inline-block; */
    display: flex;
    flex-direction: row-reverse;
}

/* .article-content, .sidebar {
    padding: 3em;
} */
.sidebar {
    padding: 3em 0 3em 3em;
}
.article-content {
    padding: 3em 3em 3em 0;
}

.article-content p {
    font-size: 1.2em;
    line-height: 1.2em;
}

.article-title {
    line-height: 1em;
    font-size: 3em;
    padding-top: .25em;
}
.intro-sec, .heroes-sec, .villains-sec {
    padding-bottom: 3em;
    font-size: 1.2em;
    line-height: 1.2em;
}
.section-heading {
    padding-bottom: .5em;
}
.article-chunk {
    padding: .8em 0;
}
.article-chunk h4, .article-chunk p {
    padding-bottom: .5em;
}
.byline, .dramatic-msg, .select-msg {
    font-family: var(--heading-sans);
    color: var(--secondary-text);
    font-style: italic;
    padding: 0.5em 0 0.5em 0;
}
.select-msg {
    color: var(--primary-text);
    text-align: center; 
    font-size: 1.5em;
    font-weight: 500;
    font-style: normal;
}
.fig-caption {
    font-family: var(--heading-sans);
    color: red;
    font-size: 1.5em;
    font-style: italic;
}

/* CHARACTER GRID */
.cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1em;
    /* max-width: 1000px; */
}
.char-card {
    position: relative;
    font-family: var(--primary-text);
    width: 100%;
    height: 100%;
}
.char-card-name {
    color: var(--background);
    background-color: var(--hover-dark);
    font-family: var(--heading-sans);
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 500;
    text-transform: uppercase;
    text-align: right;
    padding: .75em;
    position:absolute;
    z-index: 9000;
    width: 100%;
    display: none;
}
.char-card img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    position: relative;
    z-index: -1;
}
.cards-container div:hover .char-card-name {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: flex-end;
    justify-content: flex-end;
}
.hero .char-quote, .villain .char-quote {
    font-family: var(--b-quote);
    font-size: 1.3em;
    font-style: italic;
    text-align: center;
    color: var(--secondary-text);
    margin: 0 2em;
}


.char-name {
    padding-top: 1.5em;
}

/*CAROUSEL*/
.char-slides img {
    object-fit: fill;
    width: 100%;
}
.carousel-thumbs{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 0.5em;
    max-width: 500px;
    margin: 1em auto;    
}
.carousel-thumbs li {
    max-height: 100%;  
}
.carousel-thumbs img{
    /* object-fit: cover; */
    width: 100%;
    height: 100%;
}


/*VALUES*/
.values-list {
    color: var(--main-dark);
    padding-left: 1em;
   
}
.values-list li {
    font-family: var(--body-sans);
    display: grid;
    grid-template-columns: 2em 5em;
    /* list-style-image: url(star-outline-24px.svg) */
}
.values-list li span, .values-list li p{
    align-self: center; 
    padding: 0;
}
.material-icons.star {
    font-size: 1.5em;
}


/* APPEARANCES */
.appear-list {
    color: var(--main-dark);
}
.appear-list li {
    display: inline-block;
    margin: .25em .25em .25em 0;

}
.movie-tag {
    font-size: 1.2em;
    padding: .5em;
    border:1px solid;
    border-radius: 8px;
}
.movie-tag a{
    color: var(--main-dark);
    text-decoration: none;
    width: 100%;
    height: 100%;
}



/*FOOTER*/
.footer {
    background-color: var(--main-dark);
    padding: 4em 2em;
    margin-top: 4em;
    position: relative;
    width: 100%;
}
.footer-title {
    font-size: 2.5em;
    font-weight: 800;
    text-align: center;
    -webkit-text-stroke: 1.7px var(--primary-text);
}

.mappy {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 1.3em;
}
.mappy li {
    padding: 1.2em 1.4em;
}
.mappy a:hover, .legal a:hover {
    color: var(--main-bright);
}

.footer-bottom {
    max-width: 1300px;
    margin: 0 auto; 
}
.verified {
    color: var(--main-dark);
    background-color: var(--main-bright);
    text-transform: uppercase;
    width: 5em;
    padding: .5em;
    border-radius: 25px 0px 25px 0px;
    position: absolute;
}


.mappy li a, .legal li a{
    color: var(--background);
    font-family: var(--heading-sans);
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
}
.legal li a {
    font-size: 1em;
}

.connect-title, .legal, .social-icons, .copyright-c {
    font-size: 1.2em;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: .8em;
}

.social-icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.social-icons li, .legal li {
    padding-left: .8em;
}
.social-icons img{
    background-color: var(--background);
    border-radius: 50%;
    padding: .4em;
    align-self: center;
}
.social-icons img:hover {
    background-color: var(--main-bright);
}

